<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/bulma.css" />
    <link rel="stylesheet" href="css/ps.out.css" />

    <script defer src="fontawesome/js/all.min.js"></script>
  </head>
  <body>
<section class="section">

  <div class="tabs is-toggle is-toggle-rounded is-medium is-fullwidth">
    <ul>
      <li id="batter_main_tab" class="is-active"><a>Batters</a></li>
      <li id="pitcher_main_tab"><a>Pitchers</a></li>
    </ul>
  </div>

  <div class="container" id="main_display">

    <!-- BEGIN: ********** BATTER DISPLAY *********** -->
    <div id="batter_display" style="background-color: brown;">
    <div class="columns">
        <div class="column is-half" id="batter_filter">

          <div class="tabs is-boxed">
            <ul>
              <li id="batter_player_filter" class="batter-filter-tab is-active"><a>Player</a></li>
              <li id="batter_card_filter" class="batter-filter-tab"><a>Card</a></li>
              <li id="batter_batting_filter" class="batter-filter-tab"><a>Batting</a></li>
              <li id="batter_field_filter" class="batter-filter-tab"><a>Fielding</a></li>
              <li id="batter_pitching_filter" class="batter-filter-tab"><a>Pitching</a></li>
            </ul>
          </div>

          <!-- BEGIN: ********** Batter PLAYER Filters *********** -->
          <div class="container" id="batter_filter_area">
            <div id="batter_player_filter_area" style="background-color:orange;">

              <div class="columns">
              <div class="column is-half">

                <div class="field">
                  <label for="batter_player_first_name">First Name:</label>
                  <div class="control">
                    <input id="batter_player_first_name" class="input is-primary is-small" type="text" placeholder="Player First Name">
                  </div>
                </div>

                <div class="field">
                  <label for="batter_player_last_name">Last Name:</label>
                  <div class="control">
                    <input id="batter_player_last_name" class="input is-primary is-small" type="text" placeholder="Player Last Name">
                  </div>
                </div>

                <div class="field">
                  <label for="batter_player_team">Team(s):</label>
                  <div class="control">
                    <div class="select is-primary is-small is-multiple" size="4">
                      <select multiple id="batter_player_team">
                        <option>Baltimore Orioles</option>
                        <option>Boston Red Sox</option>
                        <option>Miami Marlins</option>
                        <option>Texas Rangers</option>
                      </select>
                    </div>
                  </div>
                </div>

              </div>
              <div class="column is-half">

                <div class="field">
                  <label for="batter_player_batting_hands">Batting Hand:</label>
                  <div class="control">
                    <div id="batter_player_batting_hands">
                      <span class="hand_icons"><a href="javascript:toggleBattingHand('left');"><i id="batter_player_batting_hand_left" class="lefty far fa-hand-paper"></i></a></span> L
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; R
                      <span class="hand_icons"><a href="javascript:toggleBattingHand('right');"><i id="batter_player_batting_hand_right" class="far fa-hand-paper"></i></a></span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; S
                      <span class="hand_icons"><a href="javascript:toggleBattingHand('bswitch');"><i id="batter_player_batting_hand_bswitch" class="far fa-hand-paper"></i></a></span>
                  </div>
                </div>
              </div>
                <div class="field">
                  <label for="batter_player_batting_hands">Throwing Hand:</label>
                  <div class="control">
                    <div id="batter_player_throwing_hands">
                      <span class="hand_icons"><a href="javascript:toggleThrowingHand('left');"><i id="batter_player_throwing_hand_left" class="lefty far fa-hand-paper"></i></a></span> L
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; R
                      <span class="hand_icons"><a href="javascript:toggleThrowingHand('right');"><i id="batter_player_throwing_hand_right" class="far fa-hand-paper"></i></a></span>
                  </div>
                </div>
              </div>


                <div class="field">
                  <label for="batter_player_prim_pos">Primary Position(s):</label>
                  <div class="control">
                    <div class="select is-multiple is-primary is-small" size="4">
                      <select multiple id="batter_player_prim_pos">
                        <option value="C">Catcher (C)</option>
                        <option class="tryit" value="1B">First Base (1B)</option>
                        <option value="2B">Second Base (2B)</option>
                        <option value="3B">Third Base (3B)</option>
                      </select>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

            <!-- BEGIN: ********** Batter CARD Filters *********** -->
            <div id="batter_card_filter_area" style="background-color:aqua;">
 
                  <div class="field">
                    <label for="batter_card_type_program">Card Type/Program:</label>
                    <div class="control">
                      <div class="select is-primary is-small">
                        <select id="batter_card_type_program">
                          <option value="*">(Any Type/Program)</option>
                          <option value="t:hh">Hardware Heroes</option>
                          <option value="t:rs">Rookie Sensation</option>
                          <option value="p:nls">All-Time Legend: Negro League Stars</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <label for="batter_card_tier">Tier:</label>
                    <table class="tier-strip">
                      <tr>
                      <td align="center" class="tier-select-one">
                          <label class="radio">
                            Any<br />
                            <input type="radio" name="batter_card_tier" checked="checked">
                          </label>
                      </td>
                      <td align="center" class="tier-peak">
                          <label class="radio">
                            Peak<br />
                            <input type="radio" name="batter_card_tier">
                          </label>
                      </td>
                      <td align="center" class="tier-diamond">
                          <label class="radio">
                            Diamond<br />
                            <input type="radio" name="batter_card_tier">
                          </label>
                      </td>
                      <td align="center" class="tier-gold">
                          <label class="radio">
                            Gold<br />
                            <input type="radio" name="batter_card_tier">
                          </label>
                      </td>
                      <td align="center" class="tier-silver">
                          <label class="radio">
                            Silver<br />
                            <input type="radio" name="batter_card_tier">
                          </label>
                      </td>
                      <td align="center" class="tier-bronze">
                          <label class="radio">
                            Bronze<br />
                            <input type="radio" name="batter_card_tier">
                          </label>
                      </td>
                      <td align="center" class="tier-iron">
                          <label class="radio">
                            Iron<br />
                            <input type="radio" name="batter_card_tier">
                          </label>
                      </td>
                    </tr>
                  </table>
                  </div>

<!--
                      <div class="select is-primary is-small custom-select">
                        <select style="width:160px;" class="tiers" id="batter_card_tier">
                          <option class="tier-select-one" value="*">(Any Tier)</option>
                          <option class="tier-peak" value="p">Peak</option>
                          <option class="tier-diamond" value="d">Diamond</option>
                          <option class="tier-gold" value="g">Gold</option>
                          <option class="tier-silver" value="s">Silver</option>
                          <option class="tier-bronze" value="b">Bronze</option>
                          <option class="tier-iron" value="i">Iron</option>
                        </select>
                      </div>
-->




            </div>

            <div id="batter_batting_filter_area">
              Batting - Filter by BATTING RATINGS
            </div>
            <div id="batter_field_filter_area">
              Batting - Filter by FIELDING RATINGS
            </div>
            <div id="batter_pitching_filter_area">

                                      <h1>{{ title }}</h1>
                                      <p>{{ body }}
                                      </p>
                                      <p>{{ dummie }}</p>
                                      TIERS: <br />
                                      <input type="text" id="tier_select_text" value="alpha" />
                                      <select id="tier_select">
                                      <option value="-9">(Any Tier)</option>
                                      {{#each tiers}}
                                      <option value="{{this.tier_id}}">{{this.tier_name}} ({{this.tier_id}})</option>
                                      {{/each}}
                                      </select>
                                      <button id="filter_button">Filter</button>
                                      <div id="read_it">hey there!!!!!!!!</div>
                                      <br />
                                      ******* FILTER REPLY**<br />
                                      <div id="filter_reply">abc</div>
            </div>

          </div> <!-- end batting_filter_area -->

      </div> <!-- end batter filter column -->
      <div class="column is-half" id="batter_results">
        *some results here*
      </div> <!-- end batter results column -->
    </div> <!-- end batter column group div -->
  </div> <!-- end batter display area -->

  <div id="pitcher_display">
    <div class="columns">
        <div class="column is-half" id="pitcher_filter">
            <div class="tabs is-boxed">
              <ul id="pitcher_filters_tabs">
                <li id="pitcher_player_filter" class="pitcher-filter-tab player-filter-tab is-active"><a>Player</a></li>
                <li id="pitcher_card_filter" class="pitcher-filter-tab card-filter-tab"><a>Card</a></li>
                <li id="pitcher_pitching_filter" class="pitcher-filter-tab pitching-filter-tab"><a>Pitching</a></li>
                <li id="pitcher_field_filter" class="pitcher-filter-tab fielding-filter-tab"><a>Fielding</a></li>
                <li id="pitcher_batting_filter" class="pitcher-filter-tab batting-filter-tab"><a>Batting</a></li>
              </ul>
            </div>

            <div class="container" id="pitcher_filter_area">
              <div id="pitcher_player_filter_area">
                  Pitching - Filter by PLAYER

              </div>
              <div id="pitcher_card_filter_area">
                Pitching - Filter by CARD
              </div>
              <div id="pitcher_pitching_filter_area">
                Pitching - Filter by PITCHING RATINGS
              </div>

              <div id="pitcher_field_filter_area">
                Pitching - Filter by FIELDING RATINGS
              </div>

              <div id="pitcher_batting_filter_area">
                Pitching - Filter by BATTING RATINGS
              </div>

            </div> <!-- end batting_filter_area -->


        </div>
        <div class="column" id="pitcher_results">
          Pitcher *results* stuff here
        </div>
    </div> <!-- end pitcher column group div -->
  </div> <!-- end pitcher display area -->

  </div> <!-- end main display container -->

</section> <!-- end single page app main section -->


<script src='fe-js/ui-toggles.js'></script>
<script src='fe-js/filter-toggles.js'></script>


<script src='fe-js/renderer.js'></script>
</body>
</html>
