<h5>{{result_data.length}} results found.</h5>
<script>sr_ids=[{{#each result_data}}{{card_id}}, {{/each}} -1];</script>
<div class="invisble_holder" id="sr_ids_holder">{{#each result_data}}{{card_id}}, {{/each}} -1</div>

<div class="search-results-listing">
  {{#each result_data}}
  <div class="is-clearfix search-result-line" onclick="presentPlayerComparison({{card_id}}, true);">
    <div class="sr-col1 tier-{{tier_abbrev}}">{{this.card_overall}}</div>
    <div class="sr-col2 tier-{{tier_abbrev}}">{{this.position_abbrev}}</div>
    <div class="sr-col3 tier-{{tier_abbrev}}">{{this.first_name}} {{this.last_name}}</div>
    <div class="sr-col4 tier-{{tier_abbrev}}">{{this.card_type_name}}</div>
  </div>
  {{/each}}
</div>
